h3.event-name {
  font-size: 1rem;
  letter-spacing: 4px;
}

table.result-event-table {
  border: 1px solid #ccc;
  padding: 10px 1rem;
  thead{
    th {
      border: 1px solid #000;
      padding: 10px 12px;
    }
  } 
}