h3.event-name {
  font-size: 1rem;
  letter-spacing: .5px;
}

table.result-event-table {
  border: 1px solid #ccc;
  padding: 10px 1rem;
  thead{
    th {
      border: 1px solid #000;
      padding: 10px 12px;
    }
  } 
}

.answar-wrapper {
  background-color: #fff;
  display: flex;
  border: 1px solid #777;
  > div {
    border-right: 1px solid #ccc;
    padding: 1rem;
    min-width: 320px;
    max-width: 420px;
  }
}
.answer {
  border-bottom: 1px solid #ccc;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
  font-size: 16px;
  line-height: 1.6;
  &:last-child {
    border: none;
  }
}
.question {
  font-weight: 700;
}